@charset "UTF-8";

@media screen and (min-width: 768px) /*Telas de no mínimo 768px. Dessa forma, o Media Features serãop, nesse caso usadas para dois casos: telas pequenas (com o hamburger) e telas grandes (sem o hamburger e aparecendo o menu)*/ {
    span#burger{
        display: none;
    }

    menu {
        display: block;
        text-align: center;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
        tetx
    }
}